RAG-Based Automated Vector Database Update System with Google Drive Integration.json
{
  "name": "RAG-Based Automated Vector Database Update System with Google Drive Integration",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "11CRmSwlJVdEtM2od6cH8ws_Mo9a16b4B",
          "mode": "list",
          "cachedResultName": "Teslar Earning",
          "cachedResultUrl": "https://drive.google.com/drive/folders/11CRmSwlJVdEtM2od6cH8ws_Mo9a16b4B"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        544,
        -96
      ],
      "id": "6cca333e-dba6-4e13-8fd9-38d842d488c6",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9424Gb8VO1sAEZpN",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        768,
        -96
      ],
      "id": "0e57a13a-7755-4fd8-8f65-b4e24e79ca09",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9424Gb8VO1sAEZpN",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        864,
        144
      ],
      "id": "f90047cb-844f-4ffb-bb71-b6830dbd96b3",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "n97RW4M1rXQFCOaa",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "TSLAQ3",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1104,
        144
      ],
      "id": "8576631b-24a1-4501-94bb-ff122556d4fc",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 900,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1008,
        368
      ],
      "id": "be552c99-5e88-42db-b6fb-fe4d8b5403b6",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ntesla",
          "mode": "list",
          "cachedResultName": "n8ntesla"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        976,
        -96
      ],
      "id": "853b3eb7-574b-4699-95fa-6e7662de84c3",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "5sGV9AQ5cpHa07ci",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        784,
        432
      ],
      "id": "2479999a-6e0a-4b7c-a5d4-26394a5a8c6c",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fcf2a7ef-e57c-4dd5-a2bb-4546e070a437",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04f12bd34f63a8dff024e17f9df2d69d392006a8d6e621eee4d7ff934a38fc64"
  },
  "id": "scxVvyfmyJ8oPpVX",
  "tags": []
}